@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App{
  background-color: rgb(66, 11, 66);
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height:50vw;
  width:100vw;
  font-family: 'Montserrat', sans-serif;
}

.heading{
  color:white;
}

.dropdown-select{
  background-color:rgb(66, 11, 66);
  color:white;
  padding:0.5rem;
  margin-left:3vh;
}

.links{
  text-decoration: none;
  color:white;
  font-size: medium;
}

.ant-picker,
.ant-select:not(.ant-select-customize-input) .ant-select-selector
{
  background-color: rgb(66, 11, 66);
}

.ant-picker .ant-picker-input input::placeholder,
.ant-picker .ant-picker-input .ant-picker-suffix {
  color: white;
  opacity: 0.8; /* Set placeholder and calender icon color to white */
}

.ant-picker .ant-picker-input > input{ /*input css*/
  background-color: rgb(66, 11, 66);
  color:white;
}

.btn{
  background-color:white;
  color: rgb(66, 11, 66);
  padding:10px;
}

.ant-select-selection-item,.ant-select-suffix,
.ant-picker-footer {
  background-color: rgb(66, 11, 66);
  color:white;
}

.ant-picker-date-panel,
.ant-picker-year-panel,
.ant-picker-month-panel,
.ant-select-dropdown{ /*panel background*/
  background-color: rgb(87, 25, 87);
}

.ant-picker-dropdown .ant-picker-header button,/*content*/
.ant-picker-dropdown .ant-picker-content tr,
.ant-picker-dropdown .ant-picker-content th,
.ant-picker-dropdown .ant-picker-content td,
.ant-picker-footer .ant-picker-today-btn,
.ant-select-item-option-content,
.ant-select-selection-search,
.ant-select-selection-placeholder{
  color: white;
}

.ant-select{
  width:150px;
}

.ant-select-item-option-content{
  padding-left:5px;
}

.ant-select-item-option-content:hover{
  background-color: violet;
}

.ant-picker-cell:hover{
 background-color:violet;
}